// Buttons

.button {
    display: inline-block;
    text-transform: uppercase;
    color: $blue;
    background-color: $yellow;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 1.5rem;
    padding: rem(12);
    font-size: rem(14);
    transition: .2s all ease-in-out;

    &:hover {
        @include min(md) {
            background-color: darken($yellow, 5%);
        }
    }
    
    @include min(md) {
        font-size: rem(20);
        padding: rem(14);
    }

    &--blue {
        background-color: $blue;
        color: white;

        &:hover {
            @include min(md) {
                background-color: lighten($blue, 10%);
            }
        }
    }

    &--white {
        background-color: white;
        color: $blue;

        &:hover {
            @include min(md) {
                background-color: darken(white, 10%);
            }
        }
    }

}

.buttonGroup {
    .button:not(:last-child) {
        margin-right: rem(16);
    }
} 